<nav class="navbar">
    <a href="#" class="logo">Logo Here</a>
    <ul class="menu">
      <li><a href="#">Users</a></li>
      <li><a href="#">Products</a></li>
      <li>
        <a href="#">Sales</a>
        <div class="submenu">
          <li ><a href="/sales/orders">Orders</a></li>
          <li><a href="#">Order Reports</a></li>
        </div>
      </li>
      <li><a href="javascript:;" (click)="logout()">Logout</a></li>
    </ul>
    <a href="#" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </a>
</nav>